{
  "chmod": "0755",
  "directories": [
    "app",
    "src",
    "var"
  ],
  "files": [
    "LICENSE"
  ],
  "finder": [
    {
      "name": "*.php",
      "exclude": ["Tests"],
      "in": "vendor"
    }
  ],
  "compression": "GZ",
  "git-version": "package_version",
  "main": "bin/translation.php",
  "output": "translation.phar",
  "stub": true,
  "key": "private.key"
}
